<div class="side-bar">
  <div class="wrapper">

    <a class="site-title" href"{{ site.baseurl }}">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <div class="links">
      <ul class="link-list">
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>

        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
      </ul>
    </div>
  </div>
</div>
