.menu {
    padding: 1rem;
}

@media (min-width: 48em) {
    .menu {
        position: fixed;
        float: center;
        width: 100px;
    }
}

@media (min-width: 75em) {
    .menu {
        position: fixed;
        float: center;
        width: 100px;
        white-space: nowrap;
    }
}



.site-nav {
    font-size: 25px;
}
