/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    max-width: 48rem;
    margin-right: 2rem;
}

@media (min-width: 48em) {
    .page-content {
        margin-left: 20rem;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    list-style: none;
    
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
