.side-bar {
    text-align: center;
    padding: 2rem 1rem;
    background-color: black;
}

@media (min-width: 48em) {
    .side-bar {
        position: fixed;
        float: left;
        width: 300px;
        margin-bottom: -5000px;
        padding-bottom: 5000px;
    }
}

.site-title {
    font-size: 300px;
    line-height: 300px;
    &:visited {
        color: white;
    }
}

.site-nav {
    font-size: 30px;
    
    .link a {
        color: white;
    }
}

